<div class="card" onclick="toAuction('{{_id}}')">
    <div class="seller_info">
        {{#if sellerID.img}}
            <img src="{{sellerID.img}}">
        {{else}}
            <img src="/images/defaultProfile.png">
        {{/if}}
        <p class="sellerName">{{sellerID.username}}</p>
        {{!-- <p class="location">{{sellerID.location}}</p> --}}
        {{!-- <p class="rating">{{rating}}</p> --}}
    </div>

    <div class="card_image">
        <img src="{{productImg}}">
    </div>

    <div class="card_info">
        <p class="productName">{{productName}}</p>

        <div class="status">
            <img id="bidIcon"> 
            <p class="bid">{{highestBid}}</p>
            <img id="eyeIcon">
            <p class="watchers">{{watchers}}</p>
            <img id="expiryIcon">
            <p class="expiry"> {{expiryDate}}</p>
        </div>
    </div>
</div>