<div class="card">
    <div class="seller_info" onclick="toProfile('{{sellerID.username}}')">
        <img src="{{sellerID.img}}">
        <p class="sellerName">{{sellerID.username}}</p>
        {{!-- <p class="location">{{sellerID.location}}</p> --}}
        {{!-- <p class="rating">{{rating}}</p> --}}
    </div>

    <div class="card_image" onclick="toAuction('{{_id}}')">
        <img src="{{productImg}}">
    </div>

    <div class="card_info">
        <p class="productName">{{productName}}</p>

        <div class="status">
            <span class="highestbidIcon"> </span>
            <p class="bid">{{highestBid}}</p>
            <span class="eyeIcon"> </span>
            <p class="watchers">{{watchers}}</p>
            <span class="expiryIcon"> </span>
            <p class="expiry"> {{expiryDate}}</p>
        </div>
    </div>
</div>