<div class="card" onclick="toAuction({{@index}})">
    <div class="seller_info">
        {{#if sellerImg}}
            <img src="{{sellerImg}}">
        {{else}}
            <img src="images/defaultProfile.png">
        {{/if}}
        <p class="sellerName">{{sellerName}}</p>
        <p class="location">{{location}}</p>
        {{!-- <p class="rating">{{rating}}</p> --}}
    </div>

    <div class="card_image">
        <img src="{{productImg}}">
    </div>

    <div class="card_info">
        <p class="productName">{{productName}}</p>

        <div class="status">
            <img id="bidIcon"> 
            <p class="bid">{{bidPrice}}</p>
            <img id="eyeIcon">
            <p class="watchers">{{watchers}}</p>
            <img id="expiryIcon">
            <p class="expiry"> {{expiryDate}} {{expiryTime}}</p>
        </div>
    </div>


</div>