<div class="card">
    <div class="card_user">
        {{#if img}}
            <img src="{{img}}">
        {{else}}
            <img src="images/defaultProfile.png">
        {{/if}}
        <p class="name">{{name}}</p>
        <p class="location">{{location}}</p>
        <p class="rating">{{rating}}</p>
    </div>

    <div class="card_image">


    </div>

    <div class="card_info">

        
    </div>


</div>