<div class="post" onclick="toAuction('{{_id}}')">
    <div class="post_image">
        <img src="{{productImg}}">
    </div>

    <div class="postclose_info">
        <p class="productName">{{productName}}</p>

        <div class="status">
            <span class="highestbidIcon"> </span>
            <p class="bid">{{highestBid}}</p>
            <p class="watchers"> CLOSED </p>
            <span class="expiryIcon"> </span>
            <p class="expiry"> {{expiryDate}}</p>
        </div>
    </div>


</div>