<div class="post" onclick="toAuction({{@index}})">
    <div class="post_image">
        <img src="{{productImg}}">
    </div>

    <div class="post_info">
        <p class="productName">{{productName}}</p>

        <div class="status">
            <img id="bidIcon"> 
            <p class="bid">{{bidPrice}}</p>
            <img id="eyeIcon">
            <p class="watchers">{{watchers}}</p>
            <img id="expiryIcon">
            <p class="expiry"> {{expiryDate}} {{expiryTime}}</p>
        </div>
    </div>


</div>