<div class="post" onclick="toAuction({{_id}})">
    <div class="post_image">
        <img src="{{productImg}}">
    </div>

    <div class="post_info">
        <p class="productName">{{productName}}</p>

        <div class="status">
            <span class="highestbidIcon"> </span>
            <p class="bid">{{highestBid}}</p>
            <span class="eyeIcon"> </span>
            <p class="watchers">{{watchers}}</p>
            <span class="expiryIcon"> </span>
            <p class="expiry"> {{expiryDate}} {{expiryTime}}</p>
        </div>
    </div>


</div>