<div class="tile">
    <img src="{{productImg}}">
    <p class="productName"> {{productName}}</p>

    <div class="bidPrice">
        <img class="bidIcon">
        <p>{{bidPrice}}</p>
    </div>

    <div class="watchers">
        <img class="watchersIcon" alt="mata">
        <p>{{watchers}}</p>
    </div>

    <div class="expiry">
        <img class="expiryIcon" alt="expiry">
        <p>{{expiryDate}}</p>
    </div>

</div>