<div class="tile" onclick="toAuction('{{auctionID._id}}')">
    <img src="{{auctionID.productImg}}">
    <p class="productName"> {{auctionID.productName}}</p>

    <div class="bidPrice">
        <span class="highestbidIcon"> </span>
        <p>{{auctionID.highestBid}}</p>
    </div>

    <div class="watchers">
        <span class="eyeIcon" alt="mata"> </span>
        <p>{{auctionID.watchers}}</p>
    </div>

    <div class="expiry">
        <span class="expiryIcon" alt="expiry"> </span>
        <p>{{auctionID.expiryDate}}</p>
    </div>

</div>