<div class="auction_container">

    <div class="auction_description">
        <h1 class="productName"> {{auction.productName}} </h1>  

        <p class="textdescription"> {{auction.description}} </p>

        <div class="status">
            <div class="icons">
                <img class="deliveryIcon">
                <img class="contactIcon">
                <img class="highestbidIcon">
                <img class="currentbidIcon">
                <img class="watchersIcon">
                <img class="expiryIcon">
            </div>

            <div class="values">
                <p> {{auction.delivery}} </p>
                <p> {{auction.contactNum}} </p>
                <p> AJAX HIGHEST BID </p>
                <p> AJAX CURRENT BID </p>
                <p> AJAX WATCHERS </p>
                <p> {{auction.expiryDate}} {{auction.expiryTime}} </p> 
            </div>
        </div>

    </div>

    <div class="auction_image">
        <img src="{{auction.productImg}}">
    </div>

    <div class="auction_controls"> 
            <form> 
                <input type="number" name="amount" id="amount" placeholder="Place bid amount"
                {{#if auction.highestBid>startingBid}}
                    min=""+ ({{auction.highestBid}}+{{auction.increments})}+""
                {{else}}
                    min="{{auction.startingBid}}"
                > 
                <button id="bid"> Bid </button>
            </form>
    </div>

    <div class="seller_info">
        {{#if auction.sellerImg}}
            <img src="{{auction.sellerImg}}">
        {{else}}
            <img src="images/defaultProfile.png">
        {{/if}}
        
        <p class="sellername"> {{auction.sellerName}} </p>
        <p class="location">  {{auction.location}} </p>
        <p class="rating"> {{auction.rating}} </p>
    </div>

</div>