<div class="auction_container">

    <div class="auction_description">

       <div class="seller_info">
            {{#if auction.sellerID.img}}
                <img src="{{auction.sellerID.img}}">
            {{else}}
                <img src="images/defaultProfile.png">
            {{/if}}
            
            <p class="name"> {{auction.sellerID.username}} </p>
            {{!-- <p class="location">  {{auction.location}} </p> --}}
            {{!-- <p class="rating"> {{auction.rating}} </p> --}}
        </div>

        <p class="textdescription"> {{auction.description}} </p>

        <div class="status">
            <div class="icons">
                <img class="deliveryIcon">
                <img class="contactIcon">
                <img class="highestbidIcon">
                <img class="currentbidIcon">
                <img class="watchersIcon">
                <img class="expiryIcon">
            </div>

            <div class="values">
                <p> {{auction.delivery}} </p>
                <p> {{auction.contactNum}} </p>
                <p> {{auction.highestBid}} </p>
                <p> {{auction.increments}} </p>
                <p> {{auction.watchers}} </p>
                <p> {{auction.expiryDate}}</p> 
            </div>
        </div>

    </div>

    <div class="auction_image">
        <img src="{{auction.productImg}}">
    </div>

    <div class="auction_controls"> 
            <form> 
                <input type="number" name="amount" id="amount" placeholder="Place bid amount" 
                    min="{{auction.highestBid}}"> 
                <button id="bid"> Bid </button>
            </form>
    </div>

    <h1 class="productName"> {{auction.productName}} </h1>  

</div>