<div class="auction_container">

    <div class="auction_description">

       <div class="seller_info">
            <img src="{{auction.sellerID.img}}">
            <p class="sellerName"> {{auction.sellerID.username}} </p>
            {{!-- <p class="location">  {{auction.location}} </p> --}}
            {{!-- <p class="rating"> {{auction.rating}} </p> --}}
        </div>

        <p class="textdescription"> {{auction.description}} </p>

        <div class="status">
            <div class="icons">
                <span class="deliveryIcon"> </span>
                <span class="contactIcon"> </span>
                <span class="highestbidIcon"> </span>
                <span class="incrementIcon"> </span>
                <span class="eyeIcon"> </span>
                <span class="expiryIcon"> </span>
            </div>

            <div class="values">
                <p> {{auction.delivery}} </p>
                <p> {{auction.contactNum}} </p>
                <p> {{auction.highestBid}} </p>
                <p> {{auction.increments}} </p>
                <p> {{auction.watchers}} </p>
                <p> {{auction.expiryDate}}</p> 
            </div>
        </div>

    </div>

    <div class="auction_image">
        <img src="{{auction.productImg}}">
    </div>

    <div class="auction_controls"> 
            <form> 
                <input type="number" name="amount" id="amount" placeholder="Place bid amount" 
                    min="{{auction.highestBid}}"> 
                <button id="bid"> Bid </button>
            </form>
    </div>

    <h1 class="productName"> {{auction.productName}} </h1>  

    <div class="watchBtns">
        {{#if isWatched}}
            <button id="watchBtn" onclick="watchToggle()">UNWATCH</button>
        {{else}}
            <button id="watchBtn" onclick="watchToggle()">WATCH</button>
        {{/if}}
    </div>

</div>